/* Color styles */
$main-color: rgb(56, 56, 55);
$magic-background-color: #27A297;
$trap-background-color: #B43C83;
$monster-effect-background-color: #B55425;
$monster-normal-background-color: #BE9144;
$monster-fusion-background-color: #823A94;
$monster-pendulum-background-color: linear-gradient(0deg,#19938c 0%, #b95f32 80%);
$monster-link-background-color: #104B85;
$monster-xyz-background-color: #2C3031;
$monster-sincro-background-color: #E0DEDB;
$monster-ritual-background-color: #6fbae6;




$basefont: "Roboto", sans-serif;